@import url(../reset.css);
html,
body,
.warp {
  width: 100%;
  height: 100%;
  background: 0;
  background: rgba(255, 255, 255, 0.85);
}
body {
  background: url("../../images/login/bg.png") no-repeat center top;
  background-size: 100% 100%;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.warp .logo {
  width: 4.48rem;
  height: auto;
  background: 0;
  padding-top: 2.816rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.warp .logo img {
  width: 4.48rem;
  height: auto;
  background: 0;
}
.warp .logo p {
  text-align: center;
  font-size: 0.85333333rem;
  padding: 0.64rem 0;
  box-sizing: border-box;
}
.warp .form {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 1.536rem;
  box-sizing: border-box;
}
.warp .form span {
  display: inline-block;
  width: 1.45066667rem;
  height: 1.45066667rem;
  background: 0;
  border: 1px solid #fd8932;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
}
.warp .form span img {
  width: 0.64rem;
  height: 0.93866667rem;
  background: 0;
  vertical-align: middle;
}
.warp .form .input {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #ff7d1d;
  margin-left: 0.576rem;
  font-size: 0.64rem;
}
.warp .form .input #txt {
  width: 100%;
  border: none;
  background: none;
  padding-top: 0.36266667rem;
  outline: none;
}
.warp .two {
  padding-top: 0.85333333rem;
  box-sizing: border-box;
}
.warp .two .eyes {
  position: relative;
  width: 1.06666667rem;
  height: 0.64rem;
  background: 0;
}
.warp .two .eyes img {
  width: 1.06666667rem;
  height: 0.64rem;
  background: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.warp .btn {
  padding: 1.28rem 0.704rem 0.64rem;
}
.warp .btn button {
  width: 100%;
  height: 1.70666667rem;
  background: #ff7d1b;
  border: none;
  border-radius: 0.21333333rem;
  font-size: 0.768rem;
  color: #fff;
}
.warp .bottom {
  padding: 0 0.704rem;
}
.warp .bottom a {
  font-size: 0.512rem;
  color: #4e7eaf;
}
.warp .bottom .a_left {
  float: left;
}
.warp .bottom .a_right {
  float: right;
}
