@import url(../reset.css);
html,
body,
.warp {
  width: 100%;
  height: 100%;
  background: 0;
  background: rgba(255, 255, 255, 0.85);
}
body {
  background: url("../../images/login/bg.png") no-repeat center top;
  background-size: 100% 100%;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.warp .logo {
  width: 10.5rem;
  height: auto;
  background: 0;
  padding-top: 6.6rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.warp .logo img {
  width: 10.5rem;
  height: auto;
  background: 0;
}
.warp .logo p {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
  box-sizing: border-box;
}
.warp .form {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 3.6rem;
  box-sizing: border-box;
}
.warp .form span {
  display: inline-block;
  width: 3.4rem;
  height: 3.4rem;
  background: 0;
  line-height: 3.4rem;
  /*border: 1px solid #fd8932;*/
  /*border-radius: 50%;*/
  text-align: center;
  box-sizing: border-box;
}
.warp .form span img {
  width: 3.4rem;
  height: auto;
  background: 0;
  vertical-align: middle;
}
.warp .form .input {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #ff7d1d;
  margin-left: 1.35rem;
  font-size: 1.5rem;
}
.warp .form .input .txt {
  width: 100%;
  border: none;
  background: none;
  padding-top: 0.85rem;
  outline: none;
}
.warp .two {
  padding-top: 2rem;
  box-sizing: border-box;
}
.warp .two .eyes {
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  background: 0;
}
.warp .two .eyes img {
  width: 2.5rem;
  height: 1.5rem;
  background: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.warp .btn {
  padding: 3rem 1.65rem 1.5rem;
}
.warp .btn button {
  width: 100%;
  height: 4rem;
  background: #ff7d1b;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
}
.warp .bottom {
  padding: 0 1.65rem;
}
.warp .bottom a {
  font-size: 1.2rem;
  color: #4e7eaf;
}
.warp .bottom .a_left {
  float: left;
}
.warp .bottom .a_right {
  float: right;
}
