@import url(../reset.css);
html,
body,
.warp {
  width: 100%;
  height: 100%;
  background: 0;
  background: rgba(255, 255, 255, 0.85);
}
body {
  background: url("../../images/login/bg.png") no-repeat center top;
  background-size: 100% 100%;
}
.photo {
  width: 8.12rem;
  height: auto;
  background: 0;
  padding-top: 5.2rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.photo img {
  width: 8.12rem;
  height: 8.12rem;
  background: 0;
  border-radius: 50%;
}
.photo p {
  padding: 1.6rem 0;
  text-align: center;
  color: #666666;
}
.form {
  margin-top: 3.2rem;
}
