@import url(../reset.css);
.whb(@w, @h, @bg) {
    width: @w;
    height: @h;
    background: @bg;
}
.box(@dir:vertical) {
    display: -webkit-box;
    -webkit-box-orient: @dir; //horizontal
}
html,
body,
.warp {
    .whb(100%,100%,0);
    background: rgba(255,255,255,0.85);
}
body {
    background: url("../../images/login/bg.png") no-repeat center top;
    background-size: 100% 100%;
}
@rem: 25rem;
.warp {
    .box;
    .logo {
        .whb(210/@rem,auto,0);
        padding-top: 132/@rem;
        box-sizing: border-box;
        margin: 0 auto;
        img {
            .whb(210/@rem,auto,0);
        }
        p {
            text-align: center;
            font-size: 40/@rem;
            padding: 30/@rem 0;
            box-sizing: border-box;
        }
    }
    .form {
        .box(horizontal);
        padding: 0 72/@rem;
        box-sizing: border-box;
        span {
            display: inline-block;
            .whb(68/@rem,68/@rem,0);
            line-height: 68/@rem;
            border: 1px solid #fd8932;
            border-radius: 50%;
            text-align: center;
            box-sizing: border-box;
            
            img {
                .whb(30/@rem,44/@rem,0);
                vertical-align: middle;
            }
        }
        .input {
            -webkit-box-flex: 1;
            border-bottom: 1px solid #ff7d1d;
            margin-left: 27/@rem;
            font-size: 30/@rem;
            .txt {
                width: 100%;
                border: none;
                background: none;
                padding-top: 17/@rem;
                outline: none;
            }
        }
    }
    .two {
        padding-top: 40/@rem;
        box-sizing: border-box;
        .eyes {
            position: relative;
            .whb(50/@rem,30/@rem,0);
            img {
                .whb(50/@rem,30/@rem,0);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .btn {
        padding: 60/@rem 33/@rem 30/@rem;
        button {
            width: 100%;
            height: 80/@rem;
            background: #ff7d1b;
            border: none;
            border-radius: 10/@rem;
            font-size: 36/@rem;
            color: #fff;
        }
    }
    .bottom {
        padding: 0 33/@rem;
        a {
            font-size: 24/@rem;
            color: #4e7eaf;
        }
        .a_left {
            float: left;
        }
        .a_right {
            float: right;
        }
    }
}