@import url(../reset.css);
html,
body,
.myind {
  width: 100%;
  height: 100%;
  background: 0;
}
body {
  background: #f2f2f2;
}
.myind {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: #f3f3f3;
  -webkit-box-flex: 1;
}
.myind header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.6rem;
  background: #f7f7f7;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}
.myind header .status-header-left {
  display: block;
  width: 0.8rem;
  height: auto;
  background: none;
  line-height: 3.6rem;
}
.myind header .status-header-left > img {
  width: 0.8rem;
  height: 1.4rem;
  background: none;
  vertical-align: middle;
}
.myind header .status-header-mid {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 3.6rem;
  font-size: 1.4rem;
  overflow: hidden;
}
.myind header .status-header-mid > button {
  width: 6.8rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
  border: 1px solid #fac7a0;
  color: #ff7f1d;
}
.myind header .status-header-mid .goods-status {
  margin-right: -0.3rem;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: none;
}
.myind header .status-header-mid .yc-status {
  margin-left: -0.3rem;
  border-radius: 0 0.4rem 0.4rem 0;
  border-left: none;
}
.myind header .status-header-mid .seled {
  background: #ff7f1c;
  color: #fff9f9;
}
.myind header .status-header-right {
  display: block;
  width: 1.6rem;
  height: auto;
  background: none;
  line-height: 3.6rem;
}
.myind header .status-header-right > img {
  width: 1.6rem;
  height: 1.6rem;
  background: none;
  vertical-align: middle;
}
.myind .navBox {
  width: 100%;
  height: 4.2rem;
  background: #ffffff;
  padding: 0.6rem 0;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
}
.myind .navBox .nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.myind .navBox .nav .navDl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  -webkit-box-flex: 1;
}
.myind .navBox .nav .navDl dl {
  -webkit-box-flex: 1;
  height: 3.6rem;
  width: 0;
}
.myind .navBox .nav .navDl .add {
  border-bottom: 1px solid red;
  color: red;
}
.myind .navBox .nav .navImg {
  width: 3.8rem;
  height: 3rem;
  background: none;
  text-align: center;
  line-height: 3rem;
  border-left: 1px solid #dcdcdc;
}
.myind .navBox .nav .navImg img {
  width: 1.2rem;
  height: auto;
  background: none;
  vertical-align: middle;
}
.myind section {
  -webkit-box-flex: 1;
}
.myind section .status-list {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-bottom: 3px;
  padding: 0 1rem;
  box-sizing: border-box;
}
.myind section .status-list .status-list-top {
  width: 100%;
  height: 2.5rem;
  background: none;
  line-height: 2.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #fafafa;
}
.myind section .status-list .status-list-top > span:first-child {
  float: left;
}
.myind section .status-list .status-list-top > span:last-child {
  float: right;
  color: #feac72;
}
.myind section .status-list .status-information {
  padding: 4px 0;
  box-sizing: border-box;
  color: #939393;
}
