@import url(../reset.css);
html,
body,
.myind {
  width: 100%;
  height: 100%;
  background: 0;
}
body {
  background: #f2f2f2;
}
.myind {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: #f3f3f3;
}
.myind header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.6rem;
  background: #f7f7f7;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}
.myind header .status-header-left {
  width: 0.8rem;
  height: auto;
  background: none;
}
.myind header .status-header-left > img {
  width: 0.8rem;
  height: 1.4rem;
  background: none;
}
.myind header .status-header-mid {
  -webkit-box-flex: 1;
  width: auto;
  height: 2rem;
  background: none;
  text-align: center;
  line-height: 2rem;
  border: 1px solid #fac8a2;
  margin: 0 6rem;
  color: #fe8e3c;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}
.myind header .status-header-mid .goods-status {
  display: inline-block;
  height: 2rem;
  border-radius: 0.4rem 0 0 0.4rem;
}
.myind header .status-header-mid .yc-status {
  display: inline-block;
}
.myind header .status-header-mid .seled {
  background: #ff7f1c;
  color: #fff9f9;
}
.myind header .status-header-right {
  width: 1.6rem;
  height: auto;
  background: none;
}
.myind header .status-header-right > img {
  width: 1.6rem;
  height: 1.6rem;
  background: none;
}
.myind .status-nav {
  width: 100%;
  height: 4.2rem;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
}
.myind .status-nav a {
  display: block;
  color: #2c2c2c;
  height: 4.2rem;
  padding-top: 0.8rem;
}
.myind .status-nav .selected {
  color: #fe7513;
  border-bottom: 2px solid #ecc2a2;
}
.myind .status-nav .nav-more {
  display: block;
  width: 14%;
  height: 4.2rem;
  background: #ffffff;
  position: relative;
  left: 86%;
  bottom: 4.2rem;
  z-index: 2;
  text-align: center;
  border-left: 1px solid #ddd;
}
.myind .status-nav .nav-more:before,
.myind .status-nav .nav-more:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -8px;
  width: 10px;
  height: 2px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.myind .status-nav .nav-more:after {
  margin-left: -2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.myind section {
  -webkit-box-flex: 1;
}
.myind section .status-list {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-bottom: 3px;
  padding: 0 1rem;
  box-sizing: border-box;
}
.myind section .status-list .status-list-top {
  width: 100%;
  height: 2.5rem;
  background: none;
  line-height: 2.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #fafafa;
}
.myind section .status-list .status-list-top > span:first-child {
  float: left;
}
.myind section .status-list .status-list-top > span:last-child {
  float: right;
  color: #feac72;
}
.myind section .status-list .status-information {
  padding: 4px 0;
  box-sizing: border-box;
  color: #939393;
}
