<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>评论管理</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="js/auto.js"></script>
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/comment/comment.css" />
	</head>

	<body>
		<div class="warp" ng-controller="myCom">
			<header>
				<a class="left" ui-sref="index" href=""><img src="images/caiwu/fan.png" /></a>
				<h2>评论管理</h2>
				<a class="right"  ng-click="back()"  href="#"><img src="images/caiwu/dui.png" /></a>
			</header>
			<nav>
				<ul>
					<li class="active">全部类型<span><img src="images/comment/xia1.png"/></span></li>
					<li>评分等级<span><img src="images/comment/xia.png"/></span></li>
					<li>评论时间<span><img src="images/comment/xia.png"/></span></li>
				</ul>
			</nav>
			<section>
				<div class="main1" ng-repeat="x in comment">
					<h2>{{x.comment_type}}</h2>
					<ul>
						<li>订单编号：<b>{{x.order_num}}</b></li>
						<li>用户ID：<b>{{x.users_id}}</b></li>
						<li>交易时间：<b>{{x.trade_time}}</b></li>
						<li>交易时间：<b>{{x.trade_times}}</b></li>
					</ul>
					<p>{{x.comment_contents}}</p>
					<a href="#" class="bottom">
						<span class="huifu">回复评论</span>
					</a>
				</div>

			</section>

		</div>
	</body>

</html>