<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>绑定支付宝</title>
		<link rel="stylesheet" type="text/css" href="css/help/help.css"/>
		<link rel="stylesheet" href="css/caiwu/zfb.css" />
		<script src="js/auto.js"></script>
	</head>
	<body>
		<div class="two">
			<header>
		        <div class="head1"><a ui-sref="index" href="#"><img src="images/help/h-back.png" alt="" /></a></div>
		        <div class="head2">绑定支付宝账户</div>
		        <div class="head3"><a ng-click="back()"  href="#"><img src="images/help/inform.png" alt="" /></a></div>
	   		</header>
	    	<section>
		    	<div class="zfb_input">
		    		<p class="zfb_bd">
		    			<span>请输入支付宝账号：</span><input class="zfb_num" type="text"/>
		    		</p>
		    		<div class="tel_test">
		    			<p class="test_info">请输入验证码：<input class="zfb_tel" type="text" ng-model="number"/></p><p class="proving"><button  ng-disabled="all" ng-init="false" ng-click="dis()" >{{text}}</button></p>
		    		</p>
		    		</div>
		    	</div>
		    	<div class="pour">注：提现需要绑定支付宝账号</div>
		   		<div class="tijaio"><button ui-sref="money">提交</button></div>
	    	</section>
		</div>
		
	</body>
</html>
