<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册页面</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="js/auto.js"></script>
		<link rel="stylesheet" type="text/css" href="css/login/register.css"/>
	</head>
	<body>
		<div class="reg_warp">
			<header>
				<span><img ui-sref="login" src="images/login/fan.png"/></span>
				<h2>密码重置</h2>
			</header>
			<section>
				<div class="form">
					<input type="text" ng-model="pwd" placeholder="请输入新密码"/>
				</div>
				<div class="form">
					<input type="text" ng-model="pwds" placeholder="请再次输入密码"/>
				</div>
				<div class="form">
					<input type="text" ng-model="tel" placeholder="请输入手机号"/>
				</div>
				<div class="form">
					<input type="text" placeholder="请输入验证码"/>
				</div>
				<div class="btn">
				<button ng-click="pwd">提交</button>
			</div>
			</section>
		</div>
	</body>
</html>
