<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>更多查询</title>
		<link rel="stylesheet" href="css/help/help.css" />
		<link rel="stylesheet" type="text/css" href="css/caiwu/select.css"/>
	</head>
	<body>
		<div class="two">
			<header>
		        <div class="head1"><a ui-sref="money" href="#"><img src="images/help/h-back.png" alt="" /></a></div>
		        <div class="head2">更多查询</div>
		        <div class="head3"><a ng-click="back()"  href="#"><img src="images/help/inform.png" alt="" /></a></div>
    		</header>
			<div class="select_nav">
				<ul>
					<li class="on">全部业务</li>
					<li>业务类型 <a href="#"><img src="images/caiwu/xia.png" alt="" /></a></li>
					<li>业务状态<a href="#"><img src="images/caiwu/xia.png" alt="" /></a></li>
					<li>仅看冻结</li>
				</ul>
			</div>
    		<section ng-controller="myselect">

				<div class="select_data">
					<dl class="select_fl">
						<dt>销售管理:<span class="clo2">-230.00元</span></dt>
						<dd>交易记录:<span>2016-06-16</span></dd>
					</dl>
					<dl class="select_fr">
						<dt>订单编号:DKFAOD000000011</dt>
						<dd>已完成</dd>
					</dl>
				</div>
				<div class="select_data" ng-repeat="x in select">
					<dl class="select_fl">
						<dt>销售管理:<span class="clo">{{x.record_amount}}元</span></dt>
						<dd>交易记录:<span>{{x.colock}}</span></dd>
					</dl>
					<dl class="select_fr">
						<dt>订单编号:{{x.record_numbers}}</dt>
						<dd>{{x.record_state}}</dd>
					</dl>
				</div>
			</section>
		</div>
	</body>
</html>
