.two header{
    background: #ff7f1d;
}
.two header .head2{
    color: #fff;
}
section{
    overflow-y: auto;
}
section::-webkit-scrollbar{
    width: 0;
}
.money_main1{
    width: 100%;
    height: 18.5rem;
    background: #FFFFFF;
    
    clear: both;
}
.money_main1 .money_right{
    display: block;
    width: 100%;
    height: 3.6rem;
   box-sizing: border-box;
   padding: 1rem 1.6rem 0 1.6rem;
   
}
.money_main1 .money_right img{
    width: 6rem;
    height: auto;
    float: right;
}
.money_main1 ul li{
	text-align: center;
}
.money_main1 ul li:nth-child(1){
	font-size: 1.6rem;
	padding-bottom: 1rem;
	box-sizing: border-box;
}
.money_main1 ul li:nth-child(2){
	color: #f99c58;
	font-size: 1.8rem;
}
.money_main1 ul li:nth-child(3){
	color: #b8b8b8;
	font-size: 1.4rem;
}
.money_main1 ul li:nth-child(4){
	padding-top: 1rem;
	color: #b8b8b8;
	font-size: 1rem;
	box-sizing: border-box;
}
.money_main1 ul li:nth-child(4) span{
	color: #ff7f1d;
}
.money_main1 ul li:nth-child(5) .money_img img{
	margin-right: 5rem;
}

.money_main1 ul li img{
	width: 7rem;
	height: auto;
	padding-top:1.5rem;
}
.select_data{
    padding: 1rem;
    background: #ffffff;
    margin-top: 0.5rem;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.select_data dl{
    -webkit-box-flex: 1;
    line-height: 1.7rem;
}
.select_data dl dt .clo{
    color: #5054b1;
}
.select_data dl dt .clo2{
    color: #f88282;
}
.select_data .select_fr{
    text-align: right;

}
