.select_nav{
	width: 100%;
	height: 4rem;
	background: #FFFFFF;
	text-align: center;
	line-height: 4rem;
}
.select_nav ul{
	display: -webkit-box;
  	-webkit-box-orient: horizontal;
}
.select_nav ul li{
	-webkit-box-flex: 1;
}
.select_nav ul .aimg{
	height: 3rem;
}
.select_nav ul li a>img{
	width: 1.2rem;
	height: 0.7rem;
}
